<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/defaults-zh_CN.min.js"></script>
    <script src="/js/echarts.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/admin/admin_home.js"></script>
    <link rel="stylesheet" href="/css/admin/admin_home.css">
    <link rel="stylesheet" href="/css/admin/admin_main.css">
    <title>柚子云购 - 分类管理</title></head>
<body>
<div id="div_home_main">

    <!--引入公共header-->
    <!--    <div th:replace="@{commons/header}::head"></div>-->
    <!--引入公共header-->

    <!--引入公共menus-->
    <!--    <div th:replace="@{commons/menus}::menu"></div>-->
    <!--引入公共menus-->

    </ul>
    <div id="div_home_title" class="text_info">
        <span>广告管理</span>
    </div>
    <div id="div_home_context">
        <div id="div_home_context_main">

            <script>

                //检索数据集
                var dataList = {
                    "title": null
                };

                function childClick() {
                    console.log("孩子总数：" + $("[name='child']").length);
                    console.log("选中孩子总数：" + ($("[name='child']:checked").length + 1));

                    if ($("[name='child']").length == ($("[name='child']:checked").length + 1)) {
                        $("#cbx_select_all").prop("checked", true);
                    } else {
                        $("#cbx_select_all").prop("checked", false);
                    }
                }

                $(function () {

                    //全选
                    $("#cbx_select_all").click(function () {
                        $(".cbx_select:gt(0)").prop("checked", $(this).prop("checked"));
                    });

                    //页面加载的时候，先初始化数据
                    console.log("初始化数据前")
                    getData($(this), "/ads/page/1/5", dataList);
                    console.log("初始化数据后")
                    /******
                     * event
                     * *****/
                    //点击查询按钮时,查询数据
                    $("#btn_ads_submit").click(function () {
                        //查询关键词
                        var title = $.trim($("#input_title").val());
                        //封装数据
                        dataList.title = title;
                        console.log("分页查询的参数对象",dataList)
                        //Ajax分页
                        getData($(this), "/ads/page/0/5", dataList);
                    });

                    //点击刷新按钮时
                    $("#btn_category_refresh").click(function () {
                        //清除数据
                        dataList.title = "";
                        $("#input_title").val("");
                        //获取数据
                        getData($(this), "/ads/page/0/5", dataList);
                    });

                    //点击table中的数据时
                    $("#table_category_list").find(">tbody>tr").click(function () {
                        trDataStyle($(this));
                    });
                });

                //获取分类数据
                function getData(object, url, dataObject) {
                    var table = $("#table_category_list");
                    var tbody = table.children("tbody").first();
                    $.ajax({
                        url: url,
                        type: "get",
                        data: dataObject,
                        success: function (result) {
                            console.log("获取的分页数据",result)
                            //清空原有数据
                            tbody.empty();
                            //设置样式
                            $(".loader").css("display", "none");
                            object.attr("disabled", false);

                            //显示分类统计数据
                            $("#category_count_data").text(result.data.totalCount);
                            var adsList = result.data.datas;
                            if (adsList.length > 0) {
                                for (var i = 0; i < adsList.length; i++) {
                                    var id = adsList[i].id;
                                    var title = adsList[i].title;
                                    var url = adsList[i].url;
                                    var link = adsList[i].link;
                                    var type = adsList[i].guanggaoType.type;
                                    //显示分类数据
                                    tbody.append("<tr><td><input name='child' onclick='childClick();' type='checkbox' class='cbx_select' value='" + id + "' id='cbx_category_select_" + id + "'><label for='cbx_category_select_" + id + "'></label></td><td title='" + title + "'>" + title + "</td><td>" + type + "</td><td><img src='" + url + "' width='50'/></td><td>" + link + "</td><td><span class='td_special' title='广告编辑'><a href='javascript:void(0)' onclick='getChildPage(this)'>编辑</a>&nbsp;&nbsp;<a href='javascript:void(0)' onclick='deleteOne(this)'>删除</a></span></td><td hidden class='id'>" + id + "</td></tr>");
                                }
                                //绑定事件
                                tbody.children("tr").click(function () {
                                    trDataStyle($(this));
                                });
                                //分页
                                var pageUtil = {
                                    index: result.data.page,
                                    count: result.data.limit,
                                    total: result.data.totalCount,
                                    totalPage: result.data.pageCount
                                };
                                //生成分页页面序号
                                createPageDiv($(".loader"), pageUtil);
                            }
                        },
                        beforeSend: function () {
                            $(".loader").css("display", "block");
                            object.attr("disabled", true);
                        },
                        error: function () {

                        }
                    });
                }

                // 点击添加按钮
                function getChildPage(obj) {
                    var url;
                    var title;
                    if (obj === null) {
                        //广告添加
                        title = "添加广告";
                        url = "/ads/new";
                        //跳转新增广告页面
                        location.href = url;
                        return;

                    } else {
                        //广告详情
                        title = "广告编辑";
                        url = "/ads/toedit/" + $(obj).parents("tr").find(".id").text();
                        console.log("广告更新地址:" + url);
                        //跳转新增广告页面
                        location.href = url;
                        return;
                    }
                    //设置样式
                    $("#div_home_title").children("span").text(title);
                    document.title = "柚子云购 - " + title;
                    //ajax请求页面
                    ajaxUtil.getPage(url, null, true);
                }


                //获取页码数据
                function getPage(index) {
                    getData($(this), "/ads/page/" + index + "/5", dataList);
                }

                //批量删除广告
                function deleteMany() {
                    var arr = new Array();
                    $("#tbodyId input[type='checkbox']:checked").each(function (index, item) {
                        arr.push($(this).val());
                    });
                    if (arr === undefined || arr.length == 0) {
                        // 提示动画
                        $(".msg1").stop(true, true).animate({
                            opacity: 1
                        }, 550, function () {
                            $(".msg1").animate({
                                opacity: 0
                            }, 1500);
                        });
                    } else {
                        if (window.confirm("确认删除吗？")) {
                            console.log("要批量删除的ID集合是：" + arr.toString());
                            $.ajax({
                                url: "/ads/deleteMany",
                                type: "delete",
                                data: {"ids": arr},
                                traditional: true,
                                success: function (result) {
                                    //alert(result);
                                    if (result.code == 200) {
                                        //删除成功
                                        $(".msg").stop(true, true).animate({
                                            opacity: 1
                                        }, 550, function () {
                                            $(".msg").animate({
                                                opacity: 0
                                            }, 1500, function () {
                                                location.reload();//刷新
                                            });
                                        });

                                    } else {
                                        //删除失败
                                        $(".msg1").stop(true, true).animate({
                                            opacity: 1
                                        }, 550, function () {
                                            $(".msg1").animate({
                                                opacity: 0
                                            }, 1500);
                                        });
                                    }
                                }
                            })
                        }
                    }
                }

                function deleteOne(obj) {
                    var url = "/ads/deleteOne/" + $(obj).parents("tr").find(".id").text();
                    if (window.confirm("确认删除吗？")) {
                        $.ajax({
                            url: url,
                            type: "delete",
                            traditional: true,
                            success: function (result) {
                                //alert(result);
                                if (result.code == 200) {
                                    //删除成功
                                    $(".msg").stop(true, true).animate({
                                        opacity: 1
                                    }, 550, function () {
                                        $(".msg").animate({
                                            opacity: 0
                                        }, 1500, function () {
                                            location.reload();//刷新
                                        });
                                    });

                                } else {
                                    //删除失败
                                    $(".msg1").stop(true, true).animate({
                                        opacity: 1
                                    }, 550, function () {
                                        $(".msg1").animate({
                                            opacity: 0
                                        }, 1500);
                                    });
                                }
                            }
                        })
                    }
                }
            </script>
            <style>
                .msg {
                    opacity: 0;
                    position: absolute;
                    top: 150px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 230px;
                    height: 70px;
                    line-height: 70px;
                    color: white;
                    border-radius: 5px;
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0.75);
                    font-size: 16px;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                .msg1 {
                    opacity: 0;
                    position: absolute;
                    top: 150px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 230px;
                    height: 70px;
                    line-height: 70px;
                    color: white;
                    border-radius: 5px;
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0.75);
                    font-size: 16px;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
            </style>

            <div class="frm_div text_info">
                <div class="frm_group">
                    <label class="frm_label" id="lbl_category_name" for="input_title">广告名称</label>
                    <input class="frm_input" id="input_title" type="text" maxlength="50">
                    <input class="frm_btn" id="btn_ads_submit" type="button" value="查询">
                    <input class="frm_btn frm_clear" id="btn_clear" type="button" value="重置">
                </div>
                <div class="frm_group_last">
                    <input class="frm_btn frm_add" id="btn_category_add" type="button" value="添加一个广告"
                           onclick="getChildPage(null)">
                    <input class="frm_btn frm_refresh" id="btn_category_refresh" type="button" value="刷新广告列表">
                    <input class="frm_btn frm_danger" id="btn_product_delete" type="button" value="删除选中广告"
                           onclick="deleteMany()">
                </div>
            </div>
            <div class="data_count_div text_info">
                <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2522"
                     width="16" height="16">
                    <path d="M401.976676 735.74897c-88.721671 0-172.124196-34.635845-234.843656-97.526197-62.724577-62.86784-97.271394-146.453537-97.271394-235.358379s34.546817-172.490539 97.276511-235.361449c62.715367-62.887282 146.117892-97.522104 234.838539-97.522104 88.719624 0 172.135452 34.633798 234.881518 97.522104 62.704111 62.875003 97.235578 146.4607 97.235578 235.361449 0 88.901773-34.530444 172.487469-97.231485 235.358379C574.112128 701.116195 490.6963 735.74897 401.976676 735.74897zM401.976676 121.204479c-75.012438 0-145.533584 29.290093-198.572568 82.474386-109.585861 109.834524-109.585861 288.539602-0.004093 398.36901 53.043077 53.188386 123.564223 82.47848 198.577684 82.47848 75.015507 0 145.553027-29.291117 198.620663-82.47848C710.126918 492.220514 710.126918 313.511343 600.593246 203.678866 547.530726 150.496619 476.992183 121.204479 401.976676 121.204479z"
                          p-id="2523" fill="#FF7874">
                    </path>
                    <path d="M932.538427 958.228017c-6.565533 0-13.129019-2.508123-18.132986-7.52437L606.670661 642.206504c-9.989515-10.014074-9.969049-26.231431 0.045025-36.220946s26.230408-9.969049 36.220946 0.045025l307.73478 308.497143c9.989515 10.014074 9.969049 26.231431-0.045025 36.220946C945.627537 955.735244 939.081447 958.228017 932.538427 958.228017z"
                          p-id="2524" fill="#FF7874">
                    </path>
                </svg>
                <span class="data_count_title">查看合计</span>
                <span>广告总数:</span>
                <span class="data_count_value" id="category_count_data">7</span>
                <span class="data_count_unit">个</span>
            </div>
            <div class="table_normal_div">
                <table class="table_normal" id="table_category_list">
                    <thead class="text_info">
                    <tr>
                        <th><input type="checkbox" class="cbx_select" id="cbx_select_all"><label
                                for="cbx_select_all"></label></th>
                        <th>广告名称</th>
                        <th>广告类别</th>
                        <th>广告图片</th>
                        <th>广告地址</th>
                        <th>操作</th>
                        <th hidden="" class="category_id">广告ID</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyId">
                    <tr th:each="ad:${results.datas}">
                        <td><input type="checkbox" class="cbx_select" value="145" id="cbx_category_select_145"><label
                                for="cbx_category_select_145"></label></td>
                        <td th:title="${ad.title}" th:text="${ad.title}">乳液面霜</td>
                        <td th:title="${ad.GuanggaoType.type}" th:text="${ad.GuanggaoType.type}">乳液面霜</td>
                        <td><img th:src="${ad.url}" width="50"/></td>
                        <td th:title="${ad.link}" th:text="${ad.link}">乳液面霜</td>
                        <td><span class="td_special" title="查看分类详情"><a href="javascript:void(0)"
                                                                       onclick="getChildPage(this)">详情</a></span></td>
                        <td hidden=""><span class="category_id">145</span></td>
                    </tr>
                    </tbody>
                </table>

                <script>
                    $(function () {
                        $(".disabled>a,.pageThis>a").attr("onclick", null);
                    })
                </script>
                <div id="pageDiv">
                    <ul>
                        <li data-name="firstPage" class="disabled">
                            <a href="javascript:void(0)" aria-label="首页"><span aria-hidden="true">«</span></a>
                        </li>
                        <li data-name="prevPage" class="disabled">
                            <a href="javascript:void(0)" aria-label="上一页"><span aria-hidden="true">‹</span></a>
                        </li>


                        <li class="pageThis">
                            <a href="javascript:void(0)">1</a>
                        </li>


                        <li data-name="nextPage" class="disabled">
                            <a href="javascript:void(0)" aria-label="下一页"><span aria-hidden="true">›</span></a>
                        </li>
                        <li data-name="lastPage" class="disabled">
                            <a href="javascript:void(0)" aria-label="尾页">»</a>
                        </li>
                    </ul>
                </div>


                <div class="loader"></div>
            </div>
            <div class="msg">
                <span>删除成功</span>
            </div>

            <div class="msg1">
                <span>无效删除</span>
            </div>


        </div>
    </div>
</div>
</body>
</html>
